* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;}


    /* Nav-Bar */
header {
    display: flex;
    width:100%;
    background-color: #1f2937;
    justify-content: flex-end;
    justify-content: space-between;
}

#header a {
    display:inline-block;
    background-color: #1f2937;
    color: #f9f8fa;
    text-decoration: none;
    padding: 1em 2em;
}
        
#header a:hover {
    background-color: rgb(66 28 40);
    color: #f9f8fa;
}
    
.nav-bar li {
    display: inline-block;
    list-style: none; 
    text-decoration: none;
}

.logo > img{
    width:50px;
    height: 50px;
} 

/*Main Part
To do: Include "latest YouTube Video" section */


main > h1 {
    text-align: center;
    font-weight: 900;
    padding: 24px;
    background-color: #1f2937;
    color:#f9faf8;
}

.mychannel {display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap: 2rem;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 20px;
}

.mychannel-button a {padding: 0.5rem;
border: 1px solid #3882f6;
background-color: #3882f6;
text-decoration: none;
color:#f9faf8;
}

.mychannel-button a:hover {background-color:black; border: 1px solid black;}
